.btn {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: none;
  text-decoration: none;
  padding: 0px 15px;
  margin-top: 5px;
  transition: all 0.2s ease-in;
  &:active,
  &:focus {
    outline: 0;
  }
}

.btn_fullwidth {
  width: 100%;
}

.btn_primary {
  background-color: #0099D2;
  color: #fff;
  &:hover {
    background-color: #0088BB;
  }
}

.btn_warning {
  background-color: #FF5A4C;
  color: #fff;
  &:hover {
    background-color: #F64434;
  }
}

.btn_gray {
  background-color: #dbdbdb;
  color: #757575;
  &:hover {
    background-color: #cccccc;
  }
}

.btn_link {
  background: transparent;
  color: #0099D2;
  text-decoration: underline;
  font-size: 14px;
  &:hover {
    text-decoration: none;
  }
}

.btn-round {
  border: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  text-align: center;
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
}

.btn-round_primary {
  background-color: #0099D2;
  color: #fff;
  &:hover {
    background-color: #0088BB;
    color: #fff;
  }
}

.btn-round_transparent {
  background-color: transparent;
  color: #757575;
  &:hover {
    background-color: #fbfbfb;
    color: #0099D2;
  }
}