@import './../../styles/_colors';
.root {
  height: 100%;
}
.chat {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}
.chat__left {
  width: 300px;
  min-width: 300px;
  flex-grow: 0;
  background: #fbfbfb;
  border-right: 1px solid $default-border;
  padding: 0px 10px;
}
.chat__profile-link {
  display: block;
  height: 40px;
  color: $gray;
  text-align: right;
  text-decoration: none;
  font-size: 13px;
  line-height: 40px;
  transition: all 0.2s ease-in;
  &:hover {
    color: $main-font-color;
  }
  i {
    font-size: 11px;
    margin-left: 5px;
  }
}
.chat__search {
  position: relative;
}
.chat__search-input {
  display: inline-block;
  height: 32px;
  background: $chat-input-background;
  color: $chat-input-color;
  border: 0;
  border-radius: 5px;
  padding: 0px 15px 0px 30px;
  font-size: 11px;
  width: 100%;
  &:focus,
  &:active {
    outline: 0;
  }
  &::placeholder {
    color: $gray;
  }
}
.chat__search-icon {
  color: $gray;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 12px!important;
}
.chat__list {
  margin-top: 10px;
  border-top: 1px solid $default-border;
  position: absolute;
  top: 71px;
  left: 0px;
  width: 300px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
}
.chat__list-item {
  position: relative;
  height: 71px;
  padding: 10px 40px 10px 0px;
  border-bottom: 1px solid $default-border;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-right: 10px;
  margin-left: 10px;
}
.chat__list-item-avatar {
  align-self: center;
  align-self: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.chat__list-item-descr {
  align-self: center;
  margin-left: 10px;
  overflow: hidden;
}
.chat__list-item-title {
  color: $main-font-color;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  white-space: nowrap;
}
.chat__list-item-lastmsg {
  color: $chat-item-lastmsg;
  font-size: 11px;
  line-height: 16px;
  max-height: 32px;
}
.chat__list-item-lastmsg-self {
  color: $main-font-color;
}
.chat__list-item-time {
  position: absolute;
  text-align: right;
  top: 15px;
  right: 0px;
  font-size: 10px;
  line-height: 10px;
  color: $chat-item-time;
}
.chat__list-item-count {
  position: absolute;
  bottom: 10px;
  right: 0px;
  line-height: 20px;
  height: 20px;
  background: $primary;
  font-weight: 600;
  font-size: 11px;
  color: $chat-item-count-color;
  border-radius: 10px;
  padding: 0px 6px;
  min-width: 20px;
  text-align: center;
  &:empty {
    display: none;
  }
}
.chat__list-item-hover {
  background: $chat-item-background;
  position: absolute;
  left: -10px;
  right: -10px;
  top: 0;
  bottom: 0;
  transition: background 0.2s ease-in;
}
.chat__list-item:hover > .chat__list-item-hover {
  background: $chat-item-background-hover;
}
.chat__list-item_active > .chat__list-item-hover {
  background: $chat-item-background-active;
}
.chat__right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.chat__default-message {
  font-size: 13px;
  color: $gray;
  text-align: center;
}
.chat__header {
  flex-grow: 0;
  height: 30px;
  line-height: 30px;
  padding: 5px 0px;
  border-bottom: 1px solid $default-border;
  display: flex;
  box-sizing: content-box;
  margin: 0px 20px;
}
.chat__header-info {
  flex-grow: 10;
  display: flex;
}
.chat__header-button > svg {
  margin-top: 8px;
}
.chat__header-button:hover > svg {
  fill: $primary;
}
.chat__header-info-avatar {
  border-radius: 50%;
}
.chat__header-info-title {
  font-weight: 600;
  font-size: 13px;
  margin-left: 10px;
  overflow: hidden;
}
.chat__header-actions {
  flex-grow: 1;
  min-width: 30px;
  text-align: right;
}
.chat__message {
  flex-grow: 0;
  height: 32px;
  line-height: 32px;
  border-top: 1px solid $default-border;
  padding: 14px 0px;
  box-sizing: content-box;
  display: flex;
  margin: 0px 20px;
}
.chat__message-attach {
  flex-grow: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: $chat-attach-color;
  font-size: 30px;
  transition: all 0.2s ease-in;
  &:hover {
    color: $chat-attach-color-hover;
  }
  &:active,
  &:focus {
    outline: none;
  }
}
.chat__message-text {
  flex-grow: 1;
  border: none;
  height: 32px;
  background: $chat-message-background;
  border-radius: 5px;
  padding: 0px 20px;
  color: $chat-message-color;
  font-size: 12px;
  margin: 0px 10px;
  &:active,
  &:focus {
    outline: none;
  }
}
.chat__message-send {
  flex-grow: 0;
}
.chat__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 20px 15px 20px;
  list-style: none;
}
.chat__body-date {
  margin-top: 15px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  color: $chat-message-date-color;
  font-size: 13px;
}
.chat__body-message {
  margin-top: 15px;
  position: relative;
  align-self: flex-start;
}
.chat__body-message-text {
  max-width: 400px;
  background: $chat-message-text-background;
  border-radius: 0px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  color: $chat-message-text-color;
  font-size: 12px;
  line-height: 15px;
}
.chat__body-message-time {
  position: absolute;
  bottom: 10px;
  right: -35px;
  font-size: 10px;
  color: $chat-message-time-color;
}
.chat__body-message_image > img {
  border: 1px solid $default-border;
  border-radius: 0px 10px 10px 10px;
  max-width: 320px;
}
.chat__body-message_self {
  align-self: flex-end;
}
.chat__body-message_self > .chat__body-message-text {
  color: $chat-message-self-color;
  border-radius: 10px 10px 0px 10px;
  background: $chat-message-self-background;
}
.chat__body-message_self > .chat__body-message-time {
  color: $chat-message-self-time-color;
  right: auto;
  left: -35px;
}
.chat__body-message-status {
  display: none;
  position: absolute;
  font-size: 10px;
  right: auto;
  left: -50px;
  bottom: 10px;
}
.chat__body-message_delivered > .chat__body-message-status {
  display: inline-block;
  color: $light-gray;
}
.chat__body-message_read > .chat__body-message-status {
  display: inline-block;
  color: $primary;
}