@import './../../styles/_colors';
.auth {
  position: relative;
  text-align: center;
  margin: 0px;
  width: 300px;
  max-width: 100%;
  padding: 40px;
  background: $auth-background;
  box-shadow: 0 20px 40px $box-shadow-color;
}
.auth__header {
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 15px;
}
.auth__error {
  margin: 20px -40px;
  line-height: 32px;
  background: $auth-error-background;
  color: $auth-error-color;
  font-size: 12px;
  font-weight: 600;
}
.auth__content {
  margin-top: 15px;
}
.auth__links {
  margin-top: 15px;
}
.auth__input {
  margin-bottom: 15px;
}
.auth__button {
  margin-bottom: 15px;
}
